body {
    background: url("static/Japan-City.jpg")no-repeat center center fixed; 
    background-size: cover;
}

/*
.splash {
    width: 100%;
    z-index: 0;
}
*/

.main {
    color:white;
    display:flex;
    flex-direction: column;
}