body {
    background: url("static/Japan-City.jpg")no-repeat center center scroll; 
    background-size: cover;
}

/*
.splash {
    width: 100%;
    z-index: 0;
}
*/

.main {
    color:white;
    display:flex;
    flex-direction: column;
    padding: 0px 300px;
    font-family: roboto, arial, sans-serif;
}

.header{
    display:flex;
    justify-content: space-between;
    margin: -8px -308px;
    background-color: rgba(83,84,134,0.5);
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    /* dealing with default ul margins & paddings */
    margin:10px;
    padding:0px;
    gap:30px;
}

.content{
    display:flex;
    margin: 150px 0px;
    gap: 50px;
    border:1px solid red;
}

.content-text{
    display:flex;
    flex-flow: column wrap;
    width: 650px;
    height: 300px;
    border:1px solid red;
}

.content-image{
    border:1px solid red;
    width: 650px;
    height: 300px;
}


.hero-text{
    color:#F9fAF8;
    font-size: 48px;
    font-weight: 800;
}


.card {
    border: 3px solid #00f;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 20px;
    padding: 16px;
    height : 100px;
    width: 100px;
  }

  .button{
      background-color: #3882F6;
  }