body {
    background: url("static/Japan-City.jpg")no-repeat center center fixed; 
    background-size: cover;
}

/*
.splash {
    width: 100%;
    z-index: 0;
}
*/

.main {
    color:white;
    display:flex;
    flex-direction: column;
}

.card {
    border: 3px solid #00f;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 20px;
    padding: 16px;
    height : 100px;
    width: 100px;
  }